@media screen and (min-width: 480px){

	.nav-container{

		display: flex;
		font-weight: bold;
		padding: auto;
		border-bottom: 1px;

	}


	.logo img{

		height:12px;
		width: auto;
		
	}

	.pic{

	position: center
	background-size: cover;
	height: auto;
	background-position: center;

	}
}