
@media screen and (min-width: 1366px){

	.nav-container{

		display: flex;
		text-decoration: none;
		font-weight: bold;
		padding: auto;
		border-bottom: 1px;
		border-color: #cccccc;

	}


	.logo img{

		margin-right: auto;
		height:80px;
		width: auto;
		
	}

	.logo{
		flex:3;
	}
}